.button  {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 15px #627295;
  border-radius: 3px;
  text-align: center;
}
.button:active {
   /*ボタンを押したとき*/
   -webkit-transform: translateY(4px);
   transform: translateY(4px);/*下に動く*/
   box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
   border-bottom: none;
}
.container{
  /* background-color: #627295; */
  
  text-align: center;
  position: relative;
  margin:100px 20px 20px 0px;
  /* background-color: #627295; */
  height: 300px;
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem; */
}

.box1{
  background-color:none;
 
}

.box2{
  background-color:none;
  
}

.button{
  height: 150px;
  width: 150px;
  font-size: 50px;
  text-align: center;
  margin-top:40px;
  /* background-color: red; */
}

p{
  margin-top:100px;
  /* background-color: yellow; */
  margin-bottom: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size:80px;

}

@media screen and (max-width: 640px) {
p{
  font-size:2rem;
}
}